# Dependencies
node_modules/

# Build output
dist/
build/
out/
xml/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Coverage
coverage/

# Cache
.cache/
.npm/
.eslintcache

# OS files
.DS_Store
Thumbs.db

# Editors & IDEs
.vscode/
.idea/
*.swp

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Optional: lock files (keep ONE if you use it)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml